html {
    height: 100%;
}

body {
    height: 100%;
    position: relative;
    min-width: 800px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.video_cover {
    width: 100%;
    height: 100%;
    min-width: 800px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    aspect-ratio: 16 / 9;

}

.page__title {
    font-weight: bold;
    font-size: 116px;
    line-height: 136px;
    text-align: center;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    margin-top: 60px;
    cursor: pointer;
    height: 300px;
    display: inline-block;
    z-index: 2;

}

.page__title:hover {
    z-index: 0;
    color: rgb(78, 78, 78)
}

.page__title:hover ~ .video_cover {
    z-index: -1;
}

.page__title:after {
    content: '*';
}

.page__title:hover:before {
    content: 'На самом деле нет.\AВажнее &mdash; научиться ошибаться.';
    white-space: pre;
}

.page__title:hover::before {
    color: black;
    font-size: 35px;
    line-height: 35px;
    text-transform: none;
    font-weight: normal;
    text-align: left;
    letter-spacing: 0.005em;
    position: fixed;
    display: block;
    background: white;
    border-radius: 20px;
    border: 1px solid black;
    padding: 36px 44px;
    box-shadow: 0 14px 0 black;
    top: 180px;
    right: 20px;
    z-index: 999;
}

.content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255 255 255 / 0.3);
    z-index: 0;
}
